<div class="container">
  <form [formGroup]="cityForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="city" class="label">Ville</label>
      <div class="control">
        <input class="form-control" type="text" placeholder="Ville" formControlName="city">
      </div>
    </div>

    <div class="form-group">
      <label for="country" class="label">Pays</label>
      <div class="control">
        <input class="form-control" type="text" placeholder="Pays" formControlName="country">
      </div>
    </div>

    <div class="form-group">
      <label for="population" class="label">Population</label>
      <div class="control">
        <input class="form-control" type="text" placeholder="Population" formControlName="population">
      </div>
    </div>

    <div class="form-group">
      <label for="area" class="label">Superficie</label>
      <div class="control">
        <input class="form-control" type="text" placeholder="Superficie" formControlName="area">
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="button is-primary">Envoyer</button>
    </div>
  </form>
</div>

